<header>
  <div class="container-fluid header">
    <section class="container-fluid max-container-width" id="header-container">
      <div class="row align-items-center row-cols-1 no-margin-padding" id="header-rows">
        <div class="col no-margin-padding">
          <h1 id="main-header">Siket Róbert - <span><img id="bit-ninja-image" src="../../assets/images/bitninja.png"/></span> Teszt feladat</h1>
          <p>
            A feladat célja, egy olyan alkalmazás készítése, ami bejegyzéseket listáz és ezekhez a bejegyzéshez tartozó hozzászólást tud megjeleníteni, valamint
            bejegyzéseket hozzáadni REST API-n keresztül.
          </p>
          <div class="row row-cols-3 no-margin-padding">
            <div class="col-auto no-margin-padding margin-right-10">
              <app-button (click)="onClickGitlab()" [text]="'Forráskód - Gitlab'" [icon]="'icon-eye3'" [buttonSize]="buttonSizes.LARGE"
                          [buttonColor]="buttonColors.DARK_RED"></app-button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
