.header {
  background-color: #57a1b8;
  background-image: url("../../assets/images/header_background.png");
  background-position: left bottom;
  background-size: auto 100%;
}

p {
  font-family: "Segoe UI Regular", serif;
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
  text-align: justify;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  line-height: 24px;
  width: 100%;
  max-width: 600px;

}

#my-name {
  height: 40px;
}

#header-rows {
  min-height: 500px;
}

.margin-right-10 {
  margin-right: 10px;
}


#header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

#main-header {
  font-size: 40px;
  color: #fff;
  font-family: 'Segoe UI Black', 'Segoe UI Bold', serif;
}

#bit-ninja-image {
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
}

header {
  border-bottom: solid 10px #e1dede;
}
