<footer id="footer-rows">
  <div class="container-fluid header">
    <section class="container-fluid max-container-width">
      <div class="row align-items-center row-cols-1 no-margin-padding">
        <div id="copyright" class="col color-white text-center">
          Copyright © 2020 Robert Siket All rights reserved
        </div>
      </div>
    </section>
  </div>
</footer>
