button {
  border-radius: 16px;
  height: 27px;
  border: none;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Segoe UI Bold", serif;
  font-size: 10px;
  margin: 10px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #c12128;
  font-family: 'Segoe UI Black', 'Segoe UI Bold', serif;
}

input, textarea {
  margin: 10px 0px;
}

textarea {
  min-height: 200px;
}

button[disabled] {
  opacity: 0.5;
}
