<h1 mat-dialog-title>Új Bejegyzés</h1>
<mat-dialog-content class="container no-margin-padding">
  <div class="row row-cols-1 align-items-center no-margin-padding" *ngIf="!saving">
    <label>Cím</label>
    <input matInput [(ngModel)]="title">
    <label>Szöveg</label>
    <textarea matInput [(ngModel)]="body"></textarea>
  </div>
  <div class="row row-cols-1 align-items-center no-margin-padding" *ngIf="saving">
    <mat-progress-bar [color]="'warn'" [mode]="'indeterminate'"></mat-progress-bar>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!saving">
  <button [disabled]="isAddDisabled()" (click)="onAddClick()" class="bg-color-dark-red color-white">
    Hozzáad
  </button>
  <button [mat-dialog-close]>Mégsem</button>
</mat-dialog-actions>
