h1 {
  font-size: 30px;
  color: #c12128;
  font-family: 'Segoe UI Black', 'Segoe UI Bold', serif;
  padding: 0;
  margin-top: 10px !important;
}

h2 {
  font-size: 18px;
  padding: 0 0 20px 0;
  text-transform: capitalize;
  font-family: "Segoe UI Bold", serif;
}

.post-body {
  line-height: 24px;
  margin-bottom: 20px;
}

.post-container {
  border-radius: 20px;
  border: solid 2px #cdcaca24;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.comment-container {
  padding: 20px 20px 20px 20px;
  border-top: dotted 3px grey;
  background-color: #efeeee;
  margin-top: 5px;
  border-radius: 20px;
}

.comment-container h2, .comment-container p {
  font-size: 14px;
}

mat-progress-bar {
  margin: 20px 0;
}

app-button {
  margin-bottom: 20px;
}


#post-header-container {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

#add-post-container {
  margin-top: 10px !important;
}
