<div class="container-fluid header">
  <section class="container-fluid max-container-width" id="header-container">
    <div class="row align-items-center row-cols-1 no-margin-padding" id="header-rows">
      <div class="col no-margin-padding">
        <div id="post-header-container" class="row align-items-center no-margin-padding">
          <h1 class="col" id="main-header">Bejegyzések</h1>
          <div id="add-post-container" class="col-auto no-margin-padding">
            <app-button (click)="onClickAddPost()" [text]="'Bejegyzés hozzáadása'" [icon]="'icon-download7'"
                        [buttonSize]="buttonSizes.LARGE"
                        [buttonColor]="buttonColors.DARK_RED">

            </app-button>
          </div>
        </div>

        <div class="container-fluid post-container" *ngFor="let post of posts">
          <div class="row row-cols-1">
            <div class="col no-margin-padding">
              <h2>{{post.title}}</h2>
              <p class="post-body">{{post.body}}</p>
              <app-button class="float-right" *ngIf="!post.loading" (click)="onClickShowComments(post)" [text]="'Hozzászólások'" [icon]="'icon-eye3'"
                          [buttonSize]="buttonSizes.NORMAL"
                          [buttonColor]="buttonColors.DARK_GREY">

              </app-button>
            </div>
          </div>
          <div class="row row-cols-1" *ngIf="post.loading">
            <mat-progress-bar [color]="'warn'" [mode]="'indeterminate'"></mat-progress-bar>
          </div>
          <div class="row row-cols-1" *ngIf="post.loaded && post.opened">
            <div *ngFor="let comment of post.comments" class="comment-container">
              <div class="col no-margin-padding">
                <h2>{{comment.name}} - {{comment.email}}</h2>
                <p class="post-body">{{comment.body}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
