.large {
  border-radius: 30px;
  height: 45px;
  border: none;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Segoe UI Bold", serif;
  font-size: 14px;
}

.medium {
  border-radius: 20px;
  height: 30px;
  border: none;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Segoe UI Bold", serif;
  font-size: 12px;
}

.normal {
  border-radius: 16px;
  height: 27px;
  border: none;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Segoe UI Bold", serif;
  font-size: 10px;
}

.icon-button {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-direction: row;
  align-items: center;
  display: flex;
  position: relative;
}

.icon-button:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


.icon-button:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

.icon-button span {
  display: inline-block;

  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.icon-button:before {
  position: absolute;
  /*height: 100%;*/
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-button:before {
  left: -100%;
}

.icon-button:hover:before {
  left: 0;
}

.icon-button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

