/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "bootstrap.min.css";
@import "icomoon.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-color-violet {
  background-color: #9e7aa3;
}

.bg-color-red {
  background-color: #ef5047;
}

.bg-color-blue {
  background-color: #4780b3;
}

.bg-color-blue-light {
  background-color: #aad5e6;
}

.bg-color-dark-red {
  background-color: #c12128;
}

.bg-color-dark-grey {
  background-color: #565658;
}

.color-white {
  color: white;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/material-icons.woff2") format('woff2');
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('assets/fonts/segoe_ui.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('assets/fonts/segoe_ui_italic.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('assets/fonts/segoe_ui_bold.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/segoe_ui_bold_italic.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Black';
  src: url('assets/fonts/seguibl.eot');
  src: url('assets/fonts/seguibl.woff') format('woff'), url('assets/fonts/seguibl.ttf') format('truetype');
}

@font-face {
  font-family: 'gill sans ultra bold';
  src: url('assets/fonts/gill_sans_ultra_bold.eot');
  src: url('assets/fonts/gill_sans_ultra_bold.woff2') format('woff2'), url('assets/fonts/gill_sans_ultra_bold.woff') format('woff'), url('assets/fonts/gill_sans_ultra_bold.ttf') format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Segoe UI Regular', serif;
  margin: 0 !important;
  padding: 0 !important;
}

.font-black {
  font-family: 'Segoe UI Black', 'Segoe UI Bold', serif;
}

.font-bold {
  font-family: 'Segoe UI Bold', serif;
}

.max-container-width {
  max-width: 1800px;
}

.no-margin-padding {
  margin: 0 !important;
  padding: 0 !important;
}


.icomoon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  border-radius: 5px;
  border: solid 1px #a6a1a1;
}
